.title2{
  text-align: center;
  margin: 20px;
  margin-top:20px;
  margin-bottom: 10px;
}

input[type=other] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
