/*
	Global classes
					*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}


body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	background-color:#b146c3;
	width: 100%;
	height: 17px;
	color: white;
	text-shadow: 1px 1px #000000;
}

.title {
	text-align: center;
	margin: 30px;
	margin-top: 60px;
}

.container{
	margin: 10px;
}

/* Set a style for all buttons */
.submit {
    background-color: #b146c3;
    color: black;
    padding: 14px 20px;
		margin: 25px;
		margin-top: 15px;
		margin=bottom: 0px;
    border: none;
    cursor: pointer;
    width: 30%;
  	font-size:15px;
  	text-align:center;
    border-radius: 3px;
}

button:hover {
    opacity: 0.8;
    color: black;
    height:40px;
    weight:70px;
}

button:active {
  color:white;
	height:60px;
	weight:45px;
	transform: translateY(5px);
}

.out:hover {
	opacity: 0.8;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.without{
	margin-left: 55px;
	text-align: center;
}

a:hover {
    background-color: #e6ccff;
}

.loginwith{
	display: inline-block;
}

.login-container{
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;
}

.login-container a input {
	cursor: pointer;
}

.login-container a:hover {
	background-color: transparent;
}
